.header{
      display: flex;
      position: sticky;
      top: 0;
      width: 100%;
      height: var(--heigMenu);
      background-color: var(--colMenu);
      color: var(--color);
      font-weight: 700;
      letter-spacing: 1px;
      z-index: 999;
      transition: background-color .3s ease-in-out;
    }
    .header a{
      color: var(--color);
    }
    .first_section {
      display: flex;
      width: 20%;
      flex-wrap: nowrap;
      height: var(--heigMenu);
    }
    .first_section ul {
      line-height: var(--heigMenu);
      display: flex;
      gap: 20px;
      padding-right: 40px;
      z-index: 999;
    }
    .first_section .trigger:hover{
      background-color: #161616; 
    }
    .first_section i{
      font-size: 18pt;
      line-height: 6vh;
    }
    .second_section{
      display: flex;
      color: #9683ff;
      justify-content: center;
      align-items: center;
      width: 60%;
    }
    .second_section span{
      letter-spacing: .1px;
      font-size: 20pt;
      transition: color .1s ease-in-out;
    }
    .second_section span:hover{
      color: #FFF;
    }
    .third_section{
      display: flex;
      width: 20%;
      flex-wrap: nowrap;
    }
    .third_section ul{
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
    .third_section ul li{
      display: flex;
      height: var(--heigMenu);
      align-items: center;
      padding: 0 15px;
      line-height: var(--heigMenu);
    }
    .third_section ul li:hover{
      background-color: #161616;
    }