
.overlay{
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--heigMenu));
  top: var(--heigMenu);
  background-color: rgba(0, 0, 0, 0.80);
  z-index: 999;
  visibility: hidden;
}
.overlay a{
  color: #FFF;
}
.overlay .menu_overlay{
  background-color: #161616;
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 0;
  place-content: flex-start;
  font-size: 10pt;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s ease;
}
.overlay .menu_overlay.estirar{
  transform: scaleX(1);
}
.overlay .menu_overlay span {
  color: darkgray;
  padding: 20px 0;
  margin-left: 20px;

}
.overlay .menu_overlay ul:first-of-type {
  display: flex;
  flex-direction: column;
  padding: 0;;
  padding-bottom: 20px;
  color: #FFF;
}
.overlay .menu_overlay ul li{
  padding: 15px 20px;
}
.overlay .menu_overlay ul li:hover{
  background-color: var(--colorSec);
}
.overlay .menu_overlay ul ul{
  background-color: var(--colorSec);
}
.acordeon {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform .3s ease-in-out;;
  position: absolute;
  visibility: hidden;
}
.descomprimir{
  transform: scaleY(1);
  visibility: visible;
  position: relative;
  padding: 0;
}
.block {
  overflow: hidden;
  visibility: visible;
}