
.twitter {
    background-color: transparent;
    width: 50%;
    height: 60vh;
    transform: translateY(100px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border-top: 2px solid var(--box); 
    border-left: 2px solid var(--box); 
    border-right: 2px solid var(--box); 

}

.twitter_title{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #FFF;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--box);
}
.twitter_title h1{
    font-size: 42pt;
    font-weight: 500;
    color: var(--btnPrim);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
}
.twitter_title .btn {
    margin-right: 50px;
    --width: 300px;
    font-size: 20pt;
}
.twitter_title .btn::after {
    --width: 300px; 
}
.twitter_content{
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
}

.twitter .redes{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.twitter .redes i{
    font-size: 32pt;
    color: var(--btnPrim);
    transition: color .2s ease;
}
.twitter .redes i:hover{
    font-size: 32pt;
    color: #FFF;
}
